// Base structure
html,
body {
	@extend %body-font-light;
	background-color: #111;

	a:not(.btn) {
		color: #fff;
		text-decoration: none !important;
		font-weight: 300;
		border-bottom: 1px solid darken($gray-light, 20);
		&:focus,
		&:hover {
			color: lighten($theme-tertiary, 50);
		}
	}

	.card {
		a:not(.btn) {
			color: lighten($theme-tertiary, 30);
			font-weight: 500;
			border-bottom: 0;

			&:focus,
			&:hover {
				color: lighten($theme-tertiary, 10);
			}
		}
	}

	p:not(.lead) {
		text-shadow: none;
	}
}

svg#forcegraph {
	width: 100%;
	margin-top: 70px;
	// height: 320px;
	height: auto;
	z-index: 999;
	overflow: visible;
	transition: opacity 2.5s linear;
}
svg#forcegraph > svg {
	overflow: visible;
}

.invisible {
	opacity: 0;
	transition: opacity 2.5s linear;
}

img.img-fluid {
	border: 0;
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: .15rem dashed lighten($theme-secondary, 1);
}

// Cover and Jumbotron
.cover {
	@extend .light-text;
	position: relative;
	z-index: 10;
	top: 28%;
	opacity: 0.95;
	background-color: rgba(0,80,110,1);
	box-shadow: inset 0 0 5rem rgba(10,50,100,1);
}
.jumbotron {
	background-color: lighten($theme-primary, 4);
	border-radius: 0;
	color: #fff;
	@extend %body-font-light;
	box-shadow: inset 0 0 5rem rgba(0,0,0,.25);
}
.jumbotron-sm {
	background-color: lighten($theme-primary, 4);
	border-radius: 0;
	color: #fff;
	@extend %body-font-light;
	box-shadow: inset 0 0 5rem rgba(0,0,0,.25);
	padding: 1rem .5rem !important;
}
.bg-cover {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: $gray-darker;
}
p, .cover-heading {
	text-shadow: 0.05rem 0.05rem 0.15rem rgba(0, 0, 0, 0.75)
}

ul.profile-icons {
	margin-top: auto;
	list-style-type: none;
	text-align: center;
	line-height: 10em;
	height: 10em;
	li { display: inline-block; }
}

#menu-bar {
	width: 100%;
	z-index: 10;
	top: 0;
	position: fixed;
	background-color: rgba(10,22,35,1);
}
footer.footer {
	background-color: rgba(10,22,35,1);
	position: absolute;
	bottom: 0px;
}
section {
	margin-top: 36px;
	background-color: darken($theme-secondary, 8);
	display: inline-block;
	width: 100%;
	height: auto;
	min-height: 100%;
}
.overlay {
	background-color: #222;
	opacity: .65;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 18% 0;
	z-index: 2;
}
.main-wrapper {
	padding: auto;
	width: 100%;
	height: 100vh;
	-webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
	box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.masthead-brand {
	margin-bottom: 0;
}

.light-text {
    color: #fff;
}
.dark-text {
    color: #222;
}

iframe {
	border: 0;
	margin: 4px;
}

.nav-masthead {
	.nav-link {
		font-weight: 400;
		color: rgba(255,255,255,.5);
		background-color: transparent;
		border-bottom: .1rem solid transparent;

		&:hover,
		&:focus {
			border-bottom-color: rgba(255,255,255,.25);
		}
	}
	.nav-link + .nav-link {
		margin-left: 1rem;
	}

	.active {
		color: #fff;
		border-bottom-color: #fff;
	}
}

// Smaller site elements
.card {
	width: 23rem;
	height: auto;
	border-color: lighten($theme-primary, 12);
	border-radius: .25rem;
	overflow: hidden;
	border-width: 0;
	box-shadow: .5rem .5rem 1.65rem rgba(0,0,0,.35);

	.card-img-top {
		border-bottom: 0.001rem solid $gray-dark;
		width: 100%;
	}

	.card-tech {
		font-size: 0.8rem;
		color: $gray-dark;
	}
}

.lead {
	font-size: 1.15rem;
}

.btn.btn-primary.emoji {
	font-size: 2.2rem !important;
	padding: 16px 20px 10px 20px;
	border-radius: 120px;
}


// Customize html elements
.btn-primary {
	background-color: darken($theme-primary, 10);
	color: #fff;
	padding: 12px 42px;
	border-radius: 300px;
	font: 18px $font-family-body;
	font-weight: 400;
	letter-spacing: 1px;
	border: 1px solid darken($theme-primary, 10);
	-webkit-box-shadow: none;
	box-shadow: none;
	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	&:hover {
		color: #fff;
		background-color: darken($theme-primary, 5);
		box-shadow: inset 0 .0 .05rem rgba(200,200,200,.5);
		border: 1px solid rgba(255,255,255,.6);
	}
}
.btn-primary-sm {
	@extend .btn-primary;
	padding: 8px 22px;
	border-radius: 300px;
	font: 14px $font-family-body;
	font-weight: 200;
}
.btn-secondary {
	border: none;
	background-color: lighten($theme-tertiary, 18);
	&:hover,
	&:focus {
		color: #333;
		text-shadow: none; /* Prevent inheritance from `body` */
		background-color: darken($theme-secondary, 20);
	}
	.svg-icon {
		fill: white;
		// Dimensions in mixins.scss
	}
}
// Forcegraph
.link {
  stroke: #222;
  stroke-opacity: .85;
}

.nodes circle {
  stroke: #555;
  stroke-width: 1px;
}

.node text {
	pointer-events: none;
	font: 12px $font-family-body;
	font-weight: 300;
	fill: #fafafa;
}

