// Mixins
%transition-all {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
%background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin banner-image($img) {
    background-image: url($img);
    position: relative;
    z-index: 1;
    // Background cover image
    @extend %background-cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@mixin build-responsive-page($m) {
    .navbar-default {
        padding: $m*4px $m*20px;
    }
    hr {
        margin: $m*30px auto;
    }
    hr.spacer {
        margin: $m*10px auto;
    }
    h1 { margin: $m*16px 0; }
    h2 { margin: $m*14px 0; }
    h3 { margin: $m*12px 0; }
    h4 { margin: $m*8px 0; }
    h5 { margin: $m*6px 0; }
    h6 { margin: $m*4px 0; }
    // No space above sutitle to keep compact
    .subtitle {
        margin-top: -$m*8px;
    }

    body {
        font-size: $m*$font-size-base;
        p {
            line-height: $m * 1.68;
            margin-top: $m*10px;
        }
        h5 {
            line-height: $m*160%;
        }
    }
    h1,
    .hero-text {
        font-size: $h1FontSize * $m;
    }
    h2 { font-size: $h2FontSize * $m; }
    h3 { font-size: $h3FontSize * $m; }
    h4 { font-size: $h4FontSize * $m; }
    h5 { font-size: $h5FontSize * $m; }
    h6 { font-size: $h6FontSize * $m; }
    .banner-content {
        font-size: $h1FontSize;
        min-height: 240px;
        line-height: 150% * $m;
    }
    .banner-title {
        padding: $m*8px $m*30px !important;
    }
    // Add space between columns
    *[class^='col-sm'] {
        padding: 0 $m*30px;
    }
}

%link-color {
    color: lighten($theme-secondary, 2) !important;
}
%link-color-hover {
    color: darken($theme-secondary, 22) !important;
}
%action-link {
    @extend %link-color;
    text-decoration: none;
    &:hover,
    &:focus {
        @extend %link-color-hover;
        text-decoration: none;
    }
}
%action-button {
    background-color: lighten($theme-secondary, 2%);
    border: 1px solid darken($theme-secondary, 18%) !important;
    color: darken($theme-primary, 10) !important;
    &:hover,
    &:focus {
        background-color: darken($theme-secondary, 22);
    }
}
%social-media-link {
    @extend %link-color;
    color: $theme-secondary;
    text-decoration: none;
    &:hover,
    &:focus {
        @extend %link-color-hover;
        text-decoration: none;
    }
}
// Common styles for navbar and footer
%footer-header-common {
    @extend %heading-font-normal;
    //background-color: darken($theme-primary, 24);
    background-color: $gray-dark;
    border-color: transparent;
}
%border-radius {
    border-radius: 4px;
}
%border-dark {
    border: 2px solid darken($theme-primary, 4);
}
%border-light {
    border: 1px solid rgba(#ccc, 0.75) !important;
}