@import 'fonts.scss';

$padBase: 60px;
$padIncr: 20px;
$fontSizeIncr: 1.2px;

/* Small. Above 34em (544px) */
@media screen and (min-width: 1em) {
	@include build-responsive-page(0.8);
}
@media screen and (min-width: 34em) {
	@include build-responsive-page(0.85);
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
	@include build-responsive-page(0.9);
}

/* Large. Above 62em (992px) */
@media screen and (min-width: 62em) {
	@include build-responsive-page(0.93);
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
	@include build-responsive-page(1);
}

