@import 'fonts.scss';

$padBase: 60px;
$padIncr: 20px;
$fontSizeIncr: 1.2px;

/* ----------- 0px - 320px ----------- */
@media screen and (max-width: 320px) {
    @include build-responsive-page(0.72);
}
/* ----------- 321px - 546px ----------- */
@media screen and (min-width: 321px) and (max-width: 546px) {
    @include build-responsive-page(0.81);
    .banner-content {
        padding: $padBase 0;
    }
}
/* ----------- 547px - 767px ----------- */
@media screen and (min-width: 547px)  and (max-width: 767px) {
    @include build-responsive-page(0.85);
    .banner-content {
        min-height: 300px;
        .hero-text { line-height: 190%; }
    }
}
/* ----------- 768px - 950px ----------- */
@media screen and (min-width: 768px) and (max-width: 950px) {
    @include build-responsive-page(0.92);
    .banner-content {
        min-height: 400px;
        .hero-text { line-height: 200%; }
    }
}
/* ----------- 950px - 1200px ----------- */
@media screen and (min-width: 951px) and (max-width: 1200px) {
    @include build-responsive-page(0.97);
    .banner-content {
        min-height: 500px;
        .hero-text { line-height: 220%; }
    }
}
/* ----------- 1201px - 1600px ----------- */
@media screen and (min-width: 1201px) and (max-width: 1600px) {
    @include build-responsive-page(1.05);
    .banner-content {
        min-height: 600px;
        .hero-text { line-height: 240%; }
    }
}
/* ----------- 1601px + ----------- */
@media screen and (min-width: 1601px) and (max-width: 10000px) {
    @include build-responsive-page(1.15);
    .banner-content {
        min-height: 620px;
        .hero-text { line-height: 320%; }
    }
}