@import 'colors.scss';
@import 'fonts.scss';
@import 'mixins.scss';
// @import 'overrides.scss';
// @import 'navbar.scss';
// @import 'footer.scss';
@import 'responsive.scss';
@import 'local.scss';

// Global Components
// html,
// body {
//     webkit-tap-highlight-color: $gray-darker;
//     a {
//         @extend %transition-all;
//         color: lighten($theme-secondary, 10);
//         text-decoration: none;
//         cursor: pointer;
//         &:hover,
//         &:focus {
//             color: darken($theme-secondary, 10%);
//             text-decoration: none;
//         }
//     }
//     button {
//         @extend %transition-all;
//     }
//     hr {
//         width: 100%;
//         border-width: 1px;
//         border-color: $gray-lightest;
//         opacity: 0.35;
//     }
//     hr.spacer {
//         border-color: none;
//         opacity: 0;
//     }
//     ul, ol {
//         margin-left: -20px;
//     }

// }
// .w100p { width: 100%; }
// .w80p { width: 80%; }

// .icon {
//     max-width: 40px;
//     height: 22px;
//     padding: 2.5px;
// }

// .success, .error {
//     padding: 20px 20px;
//     @extend %border-radius;
//     border: 1px solid darken($gray-lighter, 20);
//     opacity: .92;
// }
// .success {
//     background-color: lighten($gray-dark, 10);
// }
// .error {
//     background-color: darken($theme-tertiary, 10);
//     box-shadow: 1px 1px 2px 2px lighten($gray-darker, 20);
// }
// General
.border-bottom {
    border-bottom: 1px solid $gray-lighter;
}
.accolade {
    margin: 8px 10px;
    float: left;
    width: 15%;
    min-width: 160px;
    height: auto;  // 230px
    text-align: center;
    font-size: $font-size-xs;
    .thumbnail {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 10px;
        box-shadow: 1.25px 1.25px 1.5px 1.5px lighten($gray-base, 22);
        border-radius: 4px;
    }
}

.btn-square {
    border-radius: 10px !important;
    min-width: 60% !important;
}

// Photo banners
// .banner-content {
//     display: flex;
//     position: relative;
//     // Hero text on top of photo banner (if any)
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6,
//     .hero-text {
//         @extend %heading-font-normal;
//         color: #fff;
//         text-shadow: 1px 1px 1px lighten($gray-darker, 10);
//     }
//     .hero-text {
//         opacity: .85;
//     }
//     .banner-title {
//         position: absolute;
//         margin: 0;
//         bottom: 0px;
//         left: 0px;
//         min-width: 100%;
//         background-color: rgba(0,0,0,.35);
//     }
// }
// .banner-sample {
//     @extend .banner-content;
//     justify-content: center;  // horizontal align
//     align-items: center;    // vertical align
//     @include banner-image('/img/sample.jpg');
// }

// .map-embed {
//     @extend %border-radius;
//     overflow: hidden;
//     width: 100%;
//     margin: 6px auto;
//     @extend %border-light;
//     height: 354px;
// }
